@import '../scss/variables';

li > div > p {
  margin: 0;
  font-size: 0.4rem;
  font-family: italic;
  padding-right: 0.2rem;
  font-weight: bold;
};
li > div > input {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}
.container-title-post {
  display: flex;
  justify-content: space-between;
}
.text-color {
  color: #1d1fdd;
}